@font-face {
  font-family: "iconfont"; /* Project id 2523178 */
  src: url('iconfont.woff2?t=1621396133204') format('woff2'),
       url('iconfont.woff?t=1621396133204') format('woff'),
       url('iconfont.ttf?t=1621396133204') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-canshu:before {
  content: "\e655";
}

.icon-shebei:before {
  content: "\e62f";
}

.icon-yonghupeizhi:before {
  content: "\e71b";
}

.icon-jiankong:before {
  content: "\e91c";
}

.icon-tiaoduguanli:before {
  content: "\e60a";
}

.icon-jiaoyijilu:before {
  content: "\e61d";
}

.icon-danju:before {
  content: "\e67c";
}

.icon-tongji:before {
  content: "\e63c";
}

.icon-biaoqianA01_shouye-76:before {
  content: "\eac3";
}

