/*
全局样式表
*/

html,
body,
#app {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.el-row {
  margin: 0 !important;
}
.text-red {
  color: red;
}
.text-green {
  color: green;
}
.bg-white {
  background: #fff;
}
.pd10 {
  padding: 10px;
}
.text-center {
  text-align: center;
}
.font-wei_7 {
  font-weight: 700;
}
.font-size_12 {
  font-size: 12px;
}


.mg10{
  margin: 10px !important;
}
.pd20{
  padding: 20px !important;
}